<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Conversor de Temperatura</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container">

    <h1>Conversor de Temperatura</h1>

    <form method="POST">

        <input
            type="number"
            name="valor"
            placeholder="Digite um valor"
            step="any"
            required
        >

        <select name="origem">
            <option value="C">Celsius</option>
            <option value="F">Fahrenheit</option>
            <option value="K">Kelvin</option>
        </select>

        <select name="destino">
            <option value="F">Fahrenheit</option>
            <option value="C">Celsius</option>
            <option value="K">Kelvin</option>
        </select>

        <button type="submit">
            Converter
        </button>

    </form>

    {% if resultado != None %}
        <h2>Resultado: {{ resultado }}</h2>
    {% endif %}

</div>

</body>
</html>